In [ ]:
#Q1
list1 = []
n = int(input("Enter number of elements : "))
for i in range( n):
    ele = int(input("Enter element "))
    list1.append(ele)
print(list1)
print("\nOdd Numbers: ")
for i in range(n):
  if list1[i]%2!=0:
    print(list1[i])

Enter number of elements : 5
Enter element 1
Enter element 2
Enter element 3
Enter element 4
Enter element 5
[1, 2, 3, 4, 5]

Odd Numbers:
1
3
5

In [ ]:
sum=0 
for i in range(n): 
  sum+=list1[i] 
print(sum)

15

In [ ]:
#Q2
list1.reverse()
print(list1)
list1=list1[::-1]
print (list1)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
#Q4
list1.sort()
print ("top two max numbers:")
print(list1[:-3:-1])

top two max numbers:
[5, 4]

In [ ]:
#Q5
print ("second highest number:")
print(list1[-2])

second highest number:
4

In [ ]:
#Q6
list1.sort(reverse=True)
print (list1)

[5, 4, 3, 2, 1]

In [ ]:
#Q7
str1=input("Enter string:")
b=""
for i in str1:
    if i not in b:
        b=b+i
print(b)

Enter string:boom
bom

In [ ]:
#Q8
ch = input("Please Enter Your Own Character : ")
if len(ch)==1:
  if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A'
       or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
    print("The Given Character ", ch, "is a Vowel")
  else:
      print("The Given Character ", ch, "is a Consonant")
else:
  print("Enter only one character!")

Please Enter Your Own Character : ba
Enter only one character!

In [ ]:
#Q9
num=(int(input("Enter length for factorial = ")))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter length for factorial = 5
The factorial of 5 is 120

In [ ]:
#Q10

list2=[]
n = int(input("Enter number of elements : "))
for i in range(n):
    ele = int(input("Enter element "))
    list2.append(ele)
list3=list1+list2
print(list3)

Enter number of elements : 5
Enter element 6
Enter element 7
Enter element 8
Enter element 9
Enter element 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]